{{> head  }}
{{> navbar  }}

<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>hola</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil voluptate reiciendis repudiandae tenetur ratione eius deleniti doloribus ex quo, possimus illo rerum veritatis dolores ducimus vitae qui sequi quaerat architecto?</p>
        </div>

        <div class="col-4">
            <img src="assets/img/imagen.jpg" class="img-thumbnail">
        </div>
    </div>
</div>


{{> footer  }}